



@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row {padding: 0 2%;}
}





/* all styles that go in this block, are applied when the screen sixe is less than or equal to 1023px.IPAD IN LANDSCAPE VIEW IS 1024px  768-1023px*/


@media only screen and (max-width: 1023px) {
    body {font-size: 18px;}
    section {padding: 60px 0}
    
    .long-copy {
    line-height: 145%;
    width: 80%;
    margin-left: 10%;
    
    }
    
    .steps-box-1 {margin-top: 10px;}
    .steps-box-2 {margin-top: 10px;}
    .works-step {margin-bottom: 40px;}
    .works-step:last-of-type {margin-bottom: 60px;}
    
    .app-screen {width: 50%;}
    
    .icon-small {
        width: 17px;
        margin-right: 5ppx
    }
    
    .city-feature {font-size: 90%;}
    
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    
    .plan-price {font-size: 250%;}
    
    .contact-form {width: 80%;}
}


/* all styles that go in this block, are applied when the screen sixe is less than or equal to 767px. Ipad is 768px  LARGER PHONES AND SMALL TABLETS 481PX TO 767PX*/


@media only screen and (max-width: 767px) {
    body {font-size: 16px;}
    section {padding: 30px 0;}
    
    .row, .hero-text-box {padding: 0 4%; }
    
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }  
    
    .main-nav {display: none;}
    
    .section-testimonials {
        width: 100%;
        height: 115%;
    }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    h1 {font-size: 180%;}
    h2 {font-size: 150%;}
    
    .steps-box-1 {
        text-align: center;
    }
    
    .app-screen {width: 200px;}
    
    .works-step, p {padding-top: 15px;}
    
    .city-feature {margin-left: -5px;}
    
}




/* all styles that go in this block, are applied when the screen sixe is less than or equal to 480px. SMALL PHONES*/

@media only screen and (max-width: 480px) {
    
    section {padding: 25px 0;}
    .contact-form {width: 100%;}
    
    .works-step p {
        text-align: left;
        font-size: 95%;
    }
}