/* --------------------------------------------------- */
/* BASIC SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: rgb(5, 5, 5);
    font-family: "Lato", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}




/* --------------------------------------------------- */
/* REUSABLE COMPONENTS */
/*-----------------------------------------------------*/



/*ORANGE - #e67e22*/


.row {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}


/*----------HEADER ELEMENTS----------*/


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(Images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}



.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, h2, h3 {
    font-weight: 300px;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}


h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}


h3 {
    font-size: 100%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}



.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link, .main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}

.main-nav li a:hover, .main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}




/*----------PARAGRAPHS----------*/

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*------------------------*/

/*----------ICONS----------*/

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}





/*------------------------------*/




/*--------BUTTONS--------*/


.btn:link, .btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    
}



.btn-full:link, .btn-full:visited {
    border: 1px solid #e67e22;
    background-color: #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link, .btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover, .btn:active {
    background-color: #cf6d17;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

btn-full:hover, .btn-full:active {
    border: 1px solid #e67e22;

}

.btn-ghost:hover, .btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/*-----------------------------*/




